.v-dialog {
  position: relative;
  display: inline-block;
  min-width: 280px;
  margin: 24px;
  text-align: left;
  pointer-events: auto;
  border-radius: 2px;
  outline: 0;
  box-shadow: var(--dialog-shadow);

  &__header {
    box-sizing: border-box;
    padding: 16px;
    font-size: 24px;
    line-height: 1.4;
  }

  &__body {
    box-sizing: border-box;
    padding: 16px;
    font-size: 16px;
    line-height: 1.5;
  }

  &--dense &__body {
    padding-bottom: 0;
  }

  &__actions {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px;
  }

  &--dense &__actions {
    padding-top: 0;
  }
}
