@use '../../styles/core';

@layer vui {
  .v-text-field {
    &__input {
      cursor: text;

      &__element {
        width: 100%;
        min-width: 0;

        // width: calc(100% - 8px);
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;

        // margin: 0 8px;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        white-space: nowrap;
        outline: 0;
        background: transparent;
        border: 0;
        border-radius: 0;

        &:-webkit-autofill {
          @include core.auto-fill-cancel;

          // color: inherit !important;
          // box-shadow: 0 0 0 1000px get-color(field) inset;
        }

        &::-ms-clear {
          display: none;
        }

        &::placeholder {
          font-style: italic;
          color: var(--control-disabled-color);
        }

        // @include placeholder {
        //   color: get-color(text-muted);
        // }
      }
    }
  }
}
