.v-app-layout {
  $vertial-positions: header, footer;
  $drawer-positions: left, right;
  $drawer-transition: // stylelint-disable-line prettier/prettier
    var(--v-app-layout-drawer-transition-duration)
    var(--v-app-layout-drawer-transition-function);

  @each $drawer-position in $drawer-positions {
    $transition-to: if($drawer-position == left, -100%, 100%);

    --v-app-layout-drawer-#{$drawer-position}-offset: 0px;
    --v-app-layout-drawer-#{$drawer-position}-position: auto;

    &--drawer-#{$drawer-position} {
      --v-app-layout-drawer-#{$drawer-position}-position: 0px;
      --v-app-layout-drawer-transition-to: #{$transition-to};

      transition: padding-#{$drawer-position} $drawer-transition;
    }

    &--drawer-#{$drawer-position}#{&}--drawer-static {
      --v-app-layout-drawer-#{$drawer-position}-offset: var(
        --v-app-layout-drawer-width
      );
    }

    padding-#{$drawer-position}: var(
      --v-app-layout-drawer-#{$drawer-position}-offset
    );
  }

  @each $vertial-position in $vertial-positions {
    $vec: if($vertial-position == header, top, bottom);

    // stylelint-disable-next-line prettier/prettier
    --v-app-layout-viewport-#{$vec}: calc(var(--v-app-layout-#{$vertial-position}-offset) + var(--v-app-layout-#{$vertial-position}-bar-offset));
    --v-app-layout-#{$vertial-position}-offset: 0px;
    --v-app-layout-#{$vertial-position}-bar-offset: 0px;

    &--has-fixed-#{$vertial-position} {
      --v-app-layout-#{$vertial-position}-offset: var(
        --v-app-layout-vertial-fixed-height
      );
    }

    &--has-#{$vertial-position}-bar {
      --v-app-layout-#{$vertial-position}-bar-offset: var(
        --v-app-layout-bar-height
      );
    }

    --v-app-layout-drawer-#{$vec}: var(
      --v-app-layout-#{$vertial-position}-bar-offset
    );

    @each $drawer-position in $drawer-positions {
      --v-app-layout-#{$vertial-position}-#{$drawer-position}-offset: 0px;

      &--drawer-static#{&}--drawer-#{$drawer-position}:not(#{&}--drawer-stick-#{$vertial-position}) {
        --v-app-layout-#{$vertial-position}-#{$drawer-position}-offset: var(
          --v-app-layout-drawer-width
        );
      }

      // stylelint-disable prettier/prettier
      &--has-fixed-#{$vertial-position}#{&}--drawer-stick-#{$vertial-position} {
        --v-app-layout-drawer-#{$vec}: calc(
          var(--v-app-layout-#{$vertial-position}-bar-offset) + var(--v-app-layout-vertial-fixed-height)
        );
      }
      // stylelint-enable prettier/prettier
    }
  }

  // $viewport-top-offset: calc(
  //   var(--v-app-layout-header-offset) + var(--v-app-layout-header-bar-offset)
  // );
  // $viewport-bottom-offset: calc(
  //   var(--v-app-layout-footer-offset) + var(--v-app-layout-footer-bar-offset)
  // );

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: calc(var(--v-app-layout-base-z-index) + 1);
    background: var(--v-app-layout-backdrop-color);

    &-enter-active,
    &-leave-active {
      transition: opacity $drawer-transition;
    }

    &-enter-from,
    &-leave-to {
      opacity: 0;
    }

    &--viewport {
      z-index: calc(var(--v-app-layout-base-z-index) - 1);
    }

    &--drawer {
      top: var(--v-app-layout-drawer-top);
      bottom: var(--v-app-layout-drawer-bottom);
    }

    &--systembar {
      z-index: calc(var(--v-app-layout-base-z-index) + 2);
    }

    &--cover {
      z-index: calc(var(--v-app-layout-base-z-index) + 3);
    }
  }

  &__viewport {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: stretch;
    padding-top: var(--v-app-layout-viewport-top);
    padding-bottom: var(--v-app-layout-viewport-bottom);
  }

  &__header,
  &__footer {
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;

    &--fixed {
      position: fixed;
      right: 0;
      left: 0;
      z-index: var(--v-app-layout-base-z-index);
      height: var(--v-app-layout-vertial-fixed-height);
    }
  }

  @each $drawer-position in $drawer-positions {
    &--drawer-#{$drawer-position} &__header,
    &--drawer-#{$drawer-position} &__footer {
      transition: $drawer-position $drawer-transition;
    }
  }

  @each $position in $vertial-positions {
    $vec: if($position == header, top, bottom);

    &__#{$position} {
      &--fixed {
        #{$vec}: var(--v-app-layout-#{$position}-bar-offset);
        right: var(--v-app-layout-#{$position}-right-offset);
        left: var(--v-app-layout-#{$position}-left-offset);
      }
    }
  }

  &__header-bar,
  &__footer-bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: calc(var(--v-app-layout-base-z-index) + 2);
    display: flex;
    align-items: stretch;
    height: var(--v-app-layout-bar-height);
  }

  @each $position in $vertial-positions {
    $vec: if($position == header, top, bottom);

    &__#{$position}-bar {
      #{$vec}: 0;
    }
  }

  &__drawer {
    position: fixed;
    top: var(--v-app-layout-drawer-top);
    right: var(--v-app-layout-drawer-right-position);
    bottom: var(--v-app-layout-drawer-bottom);
    left: var(--v-app-layout-drawer-left-position);
    z-index: calc(var(--v-app-layout-base-z-index) + 1);
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: var(--v-app-layout-drawer-width);

    &-enter-active,
    &-leave-active {
      transition: transform $drawer-transition;
    }

    &-enter-from,
    &-leave-to {
      transform: translateX(var(--v-app-layout-drawer-transition-to));
    }
  }

  &__size-detect {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transform: translateZ(0);

    &__viewport-top {
      width: var(--v-app-layout-viewport-top);
    }

    &__viewport-bottom {
      width: var(--v-app-layout-viewport-bottom);
    }
  }
}
