.v-form-control {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: var(--control-horizontal-margin) 0;

  // --control-label-font-size: calc(var(--control-field-font-size) * 0.75); // 12
  --my-label-color: var(--control-label-color);
  --my-message-color: var(--control-message-color);

  &--invalid:not(#{&}--readonly) {
    --my-label-color: var(--main-color);
    --my-message-color: var(--main-color);
  }

  &--disabled {
    --my-label-color: var(--control-disabled-color);
    --my-message-color: var(--control-disabled-color);
  }

  &__label {
    display: flex;
    align-items: center;
    align-self: flex-start;
    font-size: var(--control-label-font-size);
    font-weight: var(--control-label-font-weight);
    line-height: var(--control-label-height);
    color: var(--my-label-color);
    letter-spacing: 0.00938em;

    &__hinttip {
      display: inline-flex;
      align-items: center;
      margin-top: -0.2em;
      margin-left: 0.6em;
      // font-size: calc(var(--root-em) * 0.5);
      font-size: 80%;
      line-height: 1;
      color: inherit;
      // color: var(--palette-muted);
      text-decoration: none;
      letter-spacing: normal;
      cursor: pointer;

      // &:hover,
      // &:focus {
      //   text-decoration: underline;
      // }

      &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 120%;
        text-decoration: none !important;
      }

      &:hover &__icon,
      &:focus &__icon {
        &::before {
          opacity: 0.1;
        }
      }

      &__hint {
        font-size: calc(var(--root-em) * 0.75);
      }
    }
  }

  // &--disabled &__body {
  //   user-select: none;
  // }

  &__info {
    display: flex;
    padding-top: 3px;
  }

  &__message,
  &__appends {
    margin: 0 var(--control-message-horizontal-margin);
    font-size: var(--control-message-font-size);
    line-height: 1.66;
    color: var(--my-message-color);
  }

  &__message {
    flex: 1 0;
    // margin: 0 var(--control-message-horizontal-margin);
    // font-size: var(--control-message-font-size);
    // line-height: 1.66;
    // color: var(--my-message-color);
  }

  &__appends {
    flex: 0 1;
    margin-left: auto;
  }
}
