/* stylelint-disable */
$themes: (
  light: (
    name: 'light',
    palette: (
      background: #ffffff,
      default: #000000de,
      link: #1976d2,
      caption: #000000de,
      backdrop: #21212175,
      primary: #1976d2,
      secondary: #dc004e,
      gray: #616161,
      mono: #323232,
      info: #2196f3,
      success: #4caf50,
      warning: #ff9800,
      error: #f44336,
      muted: #00000042,
    ),
    scope-defaults: (
      default: (
        main: #00000000,
        text: #000000de,
        border: #00000000,
        shadow: #0000004d,
        focusShadow: #0000004d,
      ),
      disabled: (
        main: #0000001f,
        light: #00000000,
        deep: #00000000,
        text: #00000042,
        border: #00000000,
        shadow: #00000000,
        focus: #0000001f,
        focusBorder: #00000000,
        focusShadow: #00000000,
        active: #0000001f,
        activeBorder: #00000000,
        outlineText: #00000042,
        outlineBorder: #0000001f,
      ),
    ),
    scopes: (
      base: (
        name: 'base',
        main: #e0e0e0,
        light: #e0e0e00a,
        deep: #e0e0e01a,
        text: #000000de,
        focus: #cecece,
        focusShadow: #e0e0e080,
        active: #bcbcbc,
        outlineText: #000000de,
        outlineBorder: #0000006f,
      ),
      primary: (
        name: 'primary',
        main: #1976d2,
        light: #1976d20a,
        deep: #1976d21a,
        text: #ffffff,
        focus: #0764c0,
        focusShadow: #1976d280,
        active: #0052ae,
        outlineBorder: #1976d280,
      ),
      secondary: (
        name: 'secondary',
        main: #dc004e,
        light: #dc004e0a,
        deep: #dc004e1a,
        text: #ffffff,
        focus: #ca003c,
        focusShadow: #dc004e80,
        active: #b8002a,
        outlineBorder: #dc004e80,
      ),
      gray: (
        name: 'gray',
        main: #616161,
        light: #6161610a,
        deep: #6161611a,
        text: #ffffff,
        focus: #4f4f4f,
        focusShadow: #61616180,
        active: #3d3d3d,
        outlineBorder: #61616180,
      ),
      mono: (
        name: 'mono',
        main: #323232,
        light: #3232320a,
        deep: #3232321a,
        text: #ffffff,
        focus: #202020,
        focusShadow: #32323280,
        active: #0e0e0e,
        outlineBorder: #32323280,
      ),
      info: (
        name: 'info',
        main: #2196f3,
        light: #2196f30a,
        deep: #2196f31a,
        text: #ffffff,
        focus: #0f84e1,
        focusShadow: #2196f380,
        active: #0072cf,
        outlineBorder: #2196f380,
      ),
      success: (
        name: 'success',
        main: #4caf50,
        light: #4caf500a,
        deep: #4caf501a,
        text: #ffffff,
        focus: #3a9d3e,
        focusShadow: #4caf5080,
        active: #288b2c,
        outlineBorder: #4caf5080,
      ),
      warning: (
        name: 'warning',
        main: #ff9800,
        light: #ff98000a,
        deep: #ff98001a,
        text: #000000de,
        focus: #ed8600,
        focusShadow: #ff980080,
        active: #db7400,
        outlineBorder: #ff980080,
      ),
      error: (
        name: 'error',
        main: #f44336,
        light: #f443360a,
        deep: #f443361a,
        text: #ffffff,
        focus: #e23124,
        focusShadow: #f4433680,
        active: #d01f12,
        outlineBorder: #f4433680,
      ),
      muted: (
        name: 'muted',
        main: #00000042,
        light: #0000000a,
        deep: #0000001a,
        text: #ffffff,
        focus: #00000042,
        focusShadow: #00000021,
        active: #00000042,
        outlineBorder: #00000021,
      ),
    ),
  ),
  dark: (
    name: 'dark',
    palette: (
      background: #292a2d,
      default: #e1e1e1,
      link: #1976d2,
      caption: #a5a5a5,
      backdrop: #21212175,
      primary: #90caf9,
      secondary: #f48fb1,
      gray: #616161,
      mono: #ffffff,
      info: #2196f3,
      success: #4caf50,
      warning: #ff9800,
      error: #f44336,
      muted: #ffffff42,
    ),
    scope-defaults: (
      default: (
        main: #00000000,
        text: #e1e1e1,
        border: #00000000,
        shadow: #0000004d,
        focusShadow: #e1e1e14d,
      ),
      disabled: (
        main: #ffffff1f,
        light: #00000000,
        deep: #00000000,
        text: #ffffff42,
        border: #00000000,
        shadow: #00000000,
        focus: #ffffff1f,
        focusBorder: #00000000,
        focusShadow: #00000000,
        active: #ffffff1f,
        activeBorder: #00000000,
        outlineText: #ffffff42,
        outlineBorder: #ffffff1f,
      ),
    ),
    scopes: (
      base: (
        name: 'base',
        main: #e0e0e0,
        light: #e0e0e00a,
        deep: #e0e0e01a,
        text: #000000de,
        focus: #cecece,
        focusShadow: #e0e0e080,
        active: #bcbcbc,
        outlineText: #e1e1e1,
        outlineBorder: #e1e1e180,
      ),
      primary: (
        name: 'primary',
        main: #90caf9,
        light: #90caf90a,
        deep: #90caf91a,
        text: #000000de,
        focus: #7eb8e7,
        focusShadow: #90caf980,
        active: #6ca6d5,
        outlineBorder: #90caf980,
      ),
      secondary: (
        name: 'secondary',
        main: #f48fb1,
        light: #f48fb10a,
        deep: #f48fb11a,
        text: #000000de,
        focus: #e27d9f,
        focusShadow: #f48fb180,
        active: #d06b8d,
        outlineBorder: #f48fb180,
      ),
      gray: (
        name: 'gray',
        main: #616161,
        light: #6161610a,
        deep: #6161611a,
        text: #ffffff,
        focus: #4f4f4f,
        focusShadow: #61616180,
        active: #3d3d3d,
        outlineBorder: #61616180,
      ),
      mono: (
        name: 'mono',
        main: #ffffff,
        light: #ffffff0a,
        deep: #ffffff1a,
        text: #000000de,
        focus: #ededed,
        focusShadow: #ffffff80,
        active: #dbdbdb,
        outlineBorder: #ffffff80,
      ),
      info: (
        name: 'info',
        main: #2196f3,
        light: #2196f30a,
        deep: #2196f31a,
        text: #ffffff,
        focus: #0f84e1,
        focusShadow: #2196f380,
        active: #0072cf,
        outlineBorder: #2196f380,
      ),
      success: (
        name: 'success',
        main: #4caf50,
        light: #4caf500a,
        deep: #4caf501a,
        text: #ffffff,
        focus: #3a9d3e,
        focusShadow: #4caf5080,
        active: #288b2c,
        outlineBorder: #4caf5080,
      ),
      warning: (
        name: 'warning',
        main: #ff9800,
        light: #ff98000a,
        deep: #ff98001a,
        text: #000000de,
        focus: #ed8600,
        focusShadow: #ff980080,
        active: #db7400,
        outlineBorder: #ff980080,
      ),
      error: (
        name: 'error',
        main: #f44336,
        light: #f443360a,
        deep: #f443361a,
        text: #ffffff,
        focus: #e23124,
        focusShadow: #f4433680,
        active: #d01f12,
        outlineBorder: #f4433680,
      ),
      muted: (
        name: 'muted',
        main: #ffffff42,
        light: #ffffff0a,
        deep: #ffffff1a,
        text: #000000de,
        focus: #ededed42,
        focusShadow: #ffffff21,
        active: #dbdbdb42,
        outlineBorder: #ffffff21,
      ),
    ),
  ),
);
@function theme($theme) {
  $result: map-get($themes, $theme);
  @if ($result == null) {
    @error 'missing theme name "' + $theme + '"';
  }
  @return $result;
}

@function palette-color($palette-name) {
  @return var(--palette-#{$palette-name});
}

@mixin palette-background($palette-name) {
  background: palette-color($palette-name);
}

@mixin palette-text($palette-name) {
  color: palette-color($palette-name);
}

@mixin palette-border($palette-name, $direction: '') {
  $appends: if($direction == '', '', '-' + $direction);

  border#{$appends}-color: palette-color($palette-name);
}

@mixin dump-theme-foundation {
  @include palette-background('background');
  @include palette-text('default');

  a {
    @include palette-text('link');
  }
}

@mixin dump-color-scheme($with-foundation: false) {
  $default-resolved: false;
  $palette: null;

  @each $theme-name, $theme in $themes {
    $selector: '.' + $theme-name + '-theme';
    $selector: if($default-resolved, $selector, ':root, ' + $selector);
    $default-resolved: true;

    $palette: map-get($theme, palette);
    $scope-defaults: map-get($theme, scope-defaults);
    $scopes: map-get($theme, scopes);

    #{$selector} {
      @if $with-foundation {
        @include dump-theme-foundation;
      }

      @each $palette-name, $value in $palette {
        $key: "--palette-" + $palette-name;
        #{$key}: #{$value};
      }

      $default-scope: map-get($scope-defaults, default);
      @if ($default-scope != null) {
        @each $key, $value in $default-scope {
          --#{$key}-color: #{$value};
        }
      }

      @each $scope-name, $scope in $scopes {
        $selector: '.' + $scope-name;
        #{$selector} {
          @each $key, $value in $scope {
            @if $key != 'name' {
              --#{$key}-color: #{$value};
            }
          }
        }
      }

      $disabled-scope: map-get($scope-defaults, disabled);
      @if ($disabled-scope != null) {
        [disabled], .disabled {
          @each $key, $value in $disabled-scope {
            --#{$key}-color: #{$value};
          }
        }
      }
    }
  }

  .contained {
    position: relative;
    background-color: var(--main-color);
    border-color: var(--border-color);
    color: var(--text-color);

    &.clickable {
      box-shadow: 0 1px 1px var(--shadow-color);
    }

    &.clickable:hover,
    &:focus {
      background-color: var(--focus-color, var(--main-color));
      border-color: var(--focusBorder-color, var(--border-color));
      color: var(--focusText-color, var(--text-color));
    }

    &.clickable:focus {
      box-shadow: 0 1px 1px var(--shadow-color), 0 1px 3px 2px var(--focusShadow-color);
    }

    &.clickable:active {
      background-color: var(--active-color, var(--focus-color, var(--main-color)));
      border-color: var(--activeBorder-color, var(--focusBorder-color, var(--border-color)));
      color: var(--activeText-color, var(--focusText-color, var(--text-color)));
    }
  }

  .outlined,
  .plain {
    position: relative;
    background-color: transparent;
    border-color: transparent;
    color: var(--outlineText-color, var(--main-color));

    &.clickable:hover,
    &:focus {
      background-color: var(--light-color);
    }

    &.clickable:active {
      background-color: var(--deep-color);
    }
  }

  .outlined {
    border-color: var(--outlineBorder-color, var(--main-color));

    &.clickable:focus {
      box-shadow: 0 1px 3px 1px var(--focusShadow-color);
    }
  }

  @each $palette-name, $value in $palette {
    $_value: palette-color($palette-name);

    .#{$palette-name + '-background'} {
      background: $_value;
    }

    .#{$palette-name + '-text'} {
      color: $_value;
    }

    .#{$palette-name + '-border'} {
      border-color: $_value;
    }
  }
}
