@layer vui {
  .v-list-tile {
    --tile-background: var(--main-color, transparent);
    --tile-active-background: var(--deep-color, transparent);
    --tile-text-color: var(--text-color);
    --tile-text-active-color: var(--text-color);
    --tile-pin-color: transparent;
    --paper-link-color: var(--tile-text-color);
    --depth-padding: var(--list-tile-padding);

    // &--has-color {
    //   --tile-text-color: var(--nav-color);
    //   --tile-text-active-color: var(--navActive-color, var(--nav-color));
    // }

    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--list-tile-padding);
    padding-left: var(--depth-padding);
    color: var(--tile-text-color) !important;
    text-align: left;
    text-decoration: none;
    user-select: none;
    background: var(--tile-background);
    border: 0;
    border-left: 3px solid var(--tile-pin-color);
    border-radius: 0;
    outline: 0;
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    appearance: none;

    &--clickable {
      cursor: pointer;

      --tile-text-color: var(--nav-color);
      --tile-text-active-color: var(--navActive-color, var(--nav-color));

      // --tile-text-active-color: var(--navActive-color, var(--tile-text-color));

      &:hover,
      &:focus {
        --tile-background: var(--tile-active-background);
        --tile-text-color: var(--tile-text-active-color);
      }
    }

    &--active {
      --tile-pin-color: var(--pin-color);
      --tile-text-color: var(--tile-text-active-color);
      --tile-background: var(--tile-active-background);
    }

    // .v-list-tile--opened & {
    //   --tile-pin-color: var(--pin-color);
    // }

    &__body {
      font-size: 0.8125rem;
      // font-size: 0.75rem;
      font-weight: 500;
      line-height: 1.5;
    }

    &__icon {
      min-width: 2em;

      &--end {
        margin-left: auto;
        text-align: right;
      }
    }
  }
}
