@import '../.vui/setup.scss';

// :root:root {
//   --typo-h1-family: 'Zen Dots', cursive;
//   --typo-h2-family: 'Zen Dots', cursive;
// }
:root {
  --docs-theme-font: 'Zen Dots', sans-serif;
  --docs-container-width: 960px;
  --v-app-container-padding: 16px;

  // @FIXME
  // I really want to use css variables in the query so that the user can control the breakpoints.
  @include mq(md) {
    --v-app-container-padding: 32px;
  }

  @include mq(xl) {
    --v-app-container-padding: 40px;
  }
}

.docs-theme-font {
  font-family: var(--docs-theme-font);
  text-transform: none;
}

.docs-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.page {
  &-enter-active,
  &-leave-active {
    transition: opacity var(--transition-fade);
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}
