.v-stack-dialog {
  position: fixed;
  inset: 0;
  box-sizing: border-box;
  padding: 0;
  overflow: auto;
  overscroll-behavior: contain;
  outline: 0;
  -webkit-overflow-scrolling: touch;

  &__scroller {
    display: table;
    width: 100%;
    height: 100%;
  }

  &__centerer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
