.v-stack-snackbar {
  position: fixed;
  display: inline-flex;
  vertical-align: bottom;
  border-radius: var(--v-stack-snackbar-radius);
  transition: margin var(--v-stack-snackbar-duration)
    var(--v-stack-easing-swing);

  &--x-center {
    left: 50%;
    transform: translateX(-50%);
  }

  &--top {
    top: var(--v-stack-snackbar-offset);
  }

  &--top:not(.v-stack-snackbar--has-horizontal) {
    top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &--bottom {
    bottom: var(--v-stack-snackbar-offset);
  }

  &--bottom:not(.v-stack-snackbar--has-horizontal) {
    bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &--left {
    left: var(--v-stack-snackbar-offset);
  }

  &--right {
    right: var(--v-stack-snackbar-offset);
  }
}
