@use 'sass:math';

.v-stack-btn {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  min-width: calc(var(--root-em) * 4);
  height: calc(var(--root-em) * 2);
  padding: 0 var(--root-em);
  // margin: 0;
  margin: calc(var(--root-em) * 0.375) calc(var(--root-em) * 0.5);
  overflow: hidden;
  font: inherit;
  font-size: calc(var(--root-em) * 0.875);
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: math.div(1.25, 14) * 1em; //1.25px;
  vertical-align: bottom;
  cursor: pointer;
  user-select: none;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--control-field-radius);
  outline: 0;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
  }

  &[disabled] {
    cursor: default;
  }

  &--spacer {
    margin-left: auto;
  }
}
