@import '../styles/values.scss';

.v-stack-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0;
  overflow: auto;
  pointer-events: none;
  outline: 0;
  -webkit-overflow-scrolling: touch;

  &__scroller {
    display: table;
    width: 100%;
    height: 100%;
  }

  &__centerer {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  &__content {
    position: relative;
    display: inline-block;
    // background: var(--palette-background);
    // color: var(--palette-default);
    min-width: 280px;
    margin: 24px;
    text-align: left;
    pointer-events: auto;
    border-radius: 2px;
    outline: 0;
    box-shadow: $v-stack-dialog-shadow;
  }

  &__header {
    box-sizing: border-box;
    padding: 16px;
    font-size: 24px;
    line-height: 1.4;
  }

  &__body {
    box-sizing: border-box;
    padding: 16px;
    font-size: 16px;
    line-height: 1.5;
  }

  &__actions {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px;
  }

  // &__action {
  //   &--spacer {
  //     margin-left: auto;
  //   }
  // }

  // &[v-stack--outside-click-animate] {
  //   animation-duration: 0.15s;
  //   animation-name: v-stack-dialog-outside-click;
  //   animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  // }
}

// @keyframes v-stack-dialog-outside-click {
//   0% {
//     transform: scale(1);
//   }

//   50% {
//     transform: scale(1.03);
//   }

//   100% {
//     transform: scale(1);
//   }
// }
