// @use './core.scss';
// @use '../../styles/core.scss';

.v-toolbar {
  --height: var(--toolbar-height);

  display: flex;
  align-items: center;
  width: 100%;
  height: var(--height);
  padding: 0 calc(var(--root-em) * 1.5); // 24
  margin: 0;
  border-radius: inherit;

  &--plain {
    --main-color: var(--palette-background);
  }

  .v-app-layout__header > & {
    height: 100%;
  }

  &--dense {
    --height: var(--toolbar-dense-height);
  }
}
