.v-tooltip {
  --menu-shadow: var(--tooltip-shadow);

  font-size: var(--tooltip-font-size);
  border-radius: var(--tooltip-radius);

  .v-menu__body {
    color: var(--tooltip-color) !important;
    background: var(--tooltip-background) !important;
  }

  // opacity: var(--tooltip-opacity);

  &__inner {
    display: inline-block;
    padding: var(--tooltip-padding);
  }
}
