:root {
  // =============================================
  // transitions
  // =============================================
  --v-stack-duration-showup: 0.2s;
  --v-stack-duration-medium: 0.3s;
  --v-stack-duration-slowly: 0.4s;
  --v-stack-easing-swing: cubic-bezier(0.25, 0.8, 0.5, 1);
  --v-stack-transition-primary: var(--v-stack-duration-showup)
    var(--v-stack-easing-swing);
  --v-stack-transition-slowly: var(--v-stack-duration-slowly)
    var(--v-stack-easing-swing);
  --v-stack-slide-amount: 15px;

  // =============================================
  // snackbar
  // =============================================
  --v-stack-snackbar-duration: var(--v-stack-duration-medium);
  --v-stack-snackbar-easing: var(--v-stack-easing-swing);
  --v-stack-snackbar-radius: 2px;
  --v-stack-snackbar-offset: 24px;
}
