@mixin hidden-input-element {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

@mixin auto-fill-cancel {
  &:-webkit-autofill {
    &,
    &:hover,
    &:focus,
    &:active {
      color: inherit !important;
      transition: background-color 5000s;
      -webkit-text-fill-color: #fff !important;
    }
  }
}
