@use 'sass:string';

@mixin hidden-input-element {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  /* stylelint-disable-next-line property-no-deprecated */
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@mixin auto-fill-cancel {
  &:-webkit-autofill {
    &,
    &:hover,
    &:focus,
    &:active {
      color: inherit !important;
      transition: background-color 5000s;
      -webkit-text-fill-color: #fff !important;
    }
  }
}

@mixin elevation($z, $important: false) {
  $shadow:
    var(--shadow-key-umbra-#{$z}), var(--shadow-key-penumbra-#{$z}),
    var(--shadow-key-ambient-#{$z});

  @if $important {
    box-shadow: $shadow !important;
  } @else {
    box-shadow: $shadow;
  }
}

@mixin elevation-transition(
  $duration: 280ms,
  $easing: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: box-shadow $duration $easing;
  will-change: box-shadow;
}

@mixin remove-tap-highlight() {
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);

  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin button-reset() {
  @include remove-tap-highlight;

  & {
    padding: 0;
    appearance: none;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    outline: 0;

    // background-color: transparent;
    border-width: 0;
  }

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
