.pg-home {
  padding: 40px;

  &__title {
    font-size: 48px;
  }

  &__lead {
    margin-bottom: 32px;
  }

  &__languages {
    margin-bottom: 32px;
  }

  &__action {
    min-width: 280px;
    font-size: 18px;
  }
}
