.pg-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  // noop

  &__title {
    font-size: 48px;
  }

  &__lead {
    margin-bottom: 32px;
  }

  &__action {
    min-width: 250px;
  }
}
