.v-app-container {
  --v-app-container-padding: 16px;

  // @FIXME
  // I really want to use css variables in the query so that the user can control the breakpoints.

  // @container v-app-layout (min-width: 600px) {
  //   --v-app-container-padding: 32px;
  // }

  // @container v-app-layout (min-width: 900px) {
  //   --v-app-container-padding: 32px;
  // }

  // @container v-app-layout (min-width: 1025px) {
  //   --v-app-container-padding: 40px;
  // }

  &--padded {
    padding-right: var(--v-app-container-padding);
    padding-left: var(--v-app-container-padding);
  }

  &--pulled {
    margin-right: calc(-1 * var(--v-app-container-padding));
    margin-left: calc(-1 * var(--v-app-container-padding));
  }

  &__inner {
    width: 100%;
  }
}
