@use './core.scss';

html {
  text-size-adjust: 100%;
  font-size: var(--root-em);
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @include core.typo(base);

  font-family: var(--typo-font);
}
