:root {
  --root-em: 16px;
  --root-spacing: 4px;

  // =============================================
  // typographies
  // =============================================
  --typo-fallback-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --type-emoji-font: 'Apple Color Emoji', 'Segoe UI Emoji';
  --typo-font: var(--typo-base-font), var(--typo-fallback-font),
    var(--type-emoji-font);

  // base
  --typo-base-size: 1rem;
  --typo-base-weight: 400;
  --typo-base-height: 1.5;
  --typo-base-spacing: 0em;

  // h1
  --typo-h1-size: 2.5rem;
  --typo-h1-weight: 500;
  --typo-h1-height: 1.2222222222222223;
  --typo-h1-spacing: 0em;
  --typo-h1-margin: 16px 0;
  --typo-h1-color: var(--palette-heading);

  // h2
  --typo-h2-size: 1.875rem;
  --typo-h2-weight: 500;
  --typo-h2-height: 1.5;
  --typo-h2-spacing: 0em;
  --typo-h2-margin: 40px 0 10px;
  --typo-h2-color: var(--palette-heading);

  // h3
  --typo-h3-size: 1.25rem;
  --typo-h3-weight: 500;
  --typo-h3-height: 1.5;
  --typo-h3-spacing: 0em;
  --typo-h3-margin: 20px 0 10px;
  --typo-h3-color: var(--palette-heading);

  // h4
  --typo-h4-size: 1.25rem;
  --typo-h4-weight: 400;
  --typo-h4-height: 1.5;
  --typo-h4-spacing: 0em;
  --typo-h4-margin: 10px 0 16px;
  --typo-h4-color: var(--palette-heading);

  // h5
  --typo-h5-size: 0.875rem;
  --typo-h5-weight: 400;
  --typo-h5-height: 1.57;
  --typo-h5-spacing: 0em;
  --typo-h5-margin: 10px 0 16px;
  --typo-h5-color: var(--palette-heading);

  // h6
  --typo-h6-size: 0.67rem;
  --typo-h6-weight: 400;
  --typo-h6-height: 1.5;
  --typo-h6-spacing: 0em;
  --typo-h6-margin: 10px 0 16px;
  --typo-h6-color: var(--palette-heading);

  // subtitle1
  --typo-subtitle1-size: 1rem;
  --typo-subtitle1-weight: 400;
  --typo-subtitle1-height: 1.75;
  --typo-subtitle1-spacing: 0.00938em;

  // subtitle2
  --typo-subtitle2-size: 0.875rem;
  --typo-subtitle2-weight: 500;
  --typo-subtitle2-height: 1.57;
  --typo-subtitle2-spacing: 0.00714em;

  // // body1
  // --typo-body1-size: 1rem;
  // --typo-body1-weight: 400;
  // --typo-body1-height: 1.5;
  // --typo-body1-spacing: 0.00938em;

  // // body2
  // --typo-body2-size: 0.875rem;
  // --typo-body2-weight: 400;
  // --typo-body2-height: 1.43;
  // --typo-body2-spacing: 0.01071em;

  // // button
  // --typo-button-size: 0.875rem;
  // --typo-button-weight: 500;
  // --typo-button-height: 1.75;
  // --typo-button-spacing: 0.02857em;

  // // caption
  // --typo-caption-size: 0.75rem;
  // --typo-caption-weight: 400;
  // --typo-caption-height: 1.66;
  // --typo-caption-spacing: 0.03333em;

  // // overline
  // --typo-overline-size: 0.75rem;
  // --typo-overline-weight: 400;
  // --typo-overline-height: 2.66;
  // --typo-overline-spacing: 0.08333em;

  // =============================================
  // controls
  // =============================================

  // control-field-height
  --control-field-rem-sm: 0.875rem; // 14
  --control-field-rem-md: 1rem; // 16
  --control-field-rem-lg: 1.125rem; // 18

  // control defaults
  --control-disabled-color: rgba(0, 0, 0, 0.38);
  --control-horizontal-margin: 0.5em; // 16
  --control-field-radius: 2px;
  --control-field-fill-color: rgba(0, 0, 0, 0.06);
  --control-field-fill-hover-color: rgba(0, 0, 0, 0.09);
  --control-field-outline-color: rgba(114, 106, 106, 0.23);
  --control-field-outline-hover-color: rgba(0, 0, 0, 0.87);
  --control-field-bottom-color: rgba(0, 0, 0, 0.42);
  --control-field-bottom-hover-color: rgba(0, 0, 0, 0.87);
  --control-field-height: 2.25em;
  --control-label-color: rgba(0, 0, 0, 0.6);
  --control-label-font-weight: 500;
  --control-label-font-size: 0.75em; // 12
  --control-label-height: 1.4375em;
  --control-message-color: rgba(0, 0, 0, 0.6);
  --control-message-font-size: 0.75em; // 12
  --control-message-horizontal-margin: var(--root-spacing);
  --control-checkable-outer-size: 2em; // 42
  --control-checkable-icon-size: 1em; // 20
  --control-checkable-faux-scale: 1.2;
  --control-checkable-faux-margin: 0.2em;
  --control-checkable-base-color: rgba(0, 0, 0, 0.6);
  --control-switch-width: 3.625em; // 58
  --control-switch-track-width: 2.125em; // 34
  --control-switch-track-height: 0.875em; // 14
}

:root,
[lang='en'] {
  --typo-base-font: Roboto, 'Noto Sans';
}

[lang='ja'] {
  --typo-base-font: Roboto, 'Noto Sans JP';
}

[lang='ko'] {
  --typo-base-font: Roboto, 'Noto Sans KR';
}

[lang='zh-cmn-Hant'] {
  --typo-base-font: Roboto, 'Noto Sans TC';
}

[lang='zh-cmn-Hans'] {
  --typo-base-font: Roboto, 'Noto Sans SC';
}
