:root {
  --v-app-layout-drawer-width: 240px;
  --v-app-layout-drawer-transition-duration: 250ms;
  --v-app-layout-drawer-transition-function: ease;
  --v-app-layout-vertial-fixed-height: 60px;
  --v-app-layout-bar-height: 30px;
  --v-app-layout-base-z-index: 10;
  --v-app-layout-backdrop-color: rgba(0, 0, 0, 0.5);
}
